@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.containerGeral {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.containerMain {
    display: flex;
    flex: 1;
    padding: 1.5rem 1.5rem;
    background-color: #f9f9f9;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    color: black;
    gap: 60px;
    transition: 0.3s;
}

.containerInternoUm {
    width: 70%;
}

.containerTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titleLocacao {
    font-size: 24px;
}

.butaoAdd {
    padding: 0.5rem 0.5rem;
    color: #FF7601;
    border-radius: 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.butaoAdd:hover {
    background-color: #fde9b6;
}

.line {
    background-color: #48793c;
    height: 1px;
    margin-top: 1rem;
}

.containerCard {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cardLocacao {
    display: flex;
    background-color: white;
    flex-direction: row;
    padding: 1rem 1rem;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 6px 6px 10px #e0dee0;
    gap: 1rem;
}

.containerTitles {
    display: flex;
    flex-direction: column;
}

.img {
    width: 8em;
}

.cardLocacao:hover {
    transform: translate(-5px, -5px);
    box-shadow: 8px 8px 20px #e0dee0;
}

.titleCardDois {
    color: #769b6a;
    font-size: 14px;
}

.containerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1.75rem;
}

.containerInternoModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modalExpand {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    gap: 2rem;
}

.partUm {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    width: 80%;
}

.itemPartUm {
    display: flex;
    flex-direction: column;
    background-color: #e8e5e8;
    border-radius: 10px;
    padding: 0.5rem;
}

.itemUm {
    width: 100%;
    display: flex;
    justify-content: center;
}

.itemInternoUm {
    width: 80%;
    background-color: #e8e5e8;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.partDois {
    width: 80%;
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.partTres {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    width: 80%;
}

.formAdd {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input {
    display: flex;
    justify-content: center;
}

.butaoForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;
    width: 80%;
}

.containerModalGeral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.threeDots {
    padding: 0.5em;
    border-radius: 100%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.threeDots:hover {
    background-color: #efeeef;
}

.footer {
    transition: 0.5s;
    margin-left: 4rem;
}

.asideOpen .containerMain {
    margin-left: 100px;
}

.asideOpen .footer {
    margin-left: 200px;
}

.popUp {
    position: absolute;
    background-color: white;
    box-shadow: 8px 8px 20px #808080;
    padding: 1rem 1rem;
    width: 20rem;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
}

.containerPopUp {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}