@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.containerGeral {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.containerMain {
    display: flex;
    flex: 1;
    padding: 1.5rem 1.5rem;
    background-color: white;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    color: black;
    gap: 60px;
    transition: 0.3s;
}

.containerInternoUm {
    width: 70%;
}

.containerTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titleLocacao {
    font-size: 24px;
}

.butaoAdd {
    padding: 0.5rem 0.5rem;
    color: #48793c;
    border-radius: 1rem;
    transition: background-color 0.3s;
}

.butaoAdd:hover {
    background-color: #d1dec7;
}

.line {
    background-color: #48793c;
    height: 1px;
    margin-top: 1rem;
}

.containerCard {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.cardLocacao {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

.img {
    width: 80%;
}

.cardLocacao:hover {
    transform: translate(-5px, -5px);
    box-shadow: 8px 8px 20px #b9b6b9;
}

.titleCardDois {
    color: #769b6a;
    font-size: 14px;
}

.containerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1.75rem;
}

.containerInternoModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formAdd {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input {
    display: flex;
    justify-content: center;
}

.butaoForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    width: 80%;
}

.containerMinimodal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerInMini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    flex-wrap: wrap;
}

.butaoMinimodal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 1.75rem;
    gap: 1.25rem;
}

.footer {
    transition: 0.5s;
}

.asideOpen .containerMain {
    margin-left: 100px;
}

.asideOpen .footer {
    margin-left: 200px;
}