@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.containerGeral {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    color: #769b6a;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}

.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px #e0dee0;
    background-color: white;
    width: 40rem;
    border-radius: 10px;
}

.containerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    width: 100%;
}

.input {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 3rem;
    justify-items: center;
}

.button {
    display: flex;
    justify-content: center;
}

.containerInMini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    flex-wrap: wrap;
}

.butaoMini {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.containerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1.75rem;
}

.containerGoToLogin {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
}

.goToLogin {
    font-size: 15px;
    color: #769b6a;
    transition: border-bottom-width 0.3s ease;
    border-bottom-color: white;
    border-bottom-width: 1px;
}

.goToLogin:hover {
    border-bottom-color: #769b6a;
}