@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

::selection {
    background-color: #48793c;
    color: white;
}

.container-geral {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container-main {
    display: flex;
    flex: 1;
    padding: 1.5rem 1.5rem;
    background-color: white;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    color: black;
}

.container-interno-um {
    width: 70%;
    margin-top: 3rem;
}

.container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-locacao {
    font-size: 24px;
}

.butao-add {
    padding: 0.5rem 0.5rem;
    color: #48793c;
    border-radius: 1rem;
    transition: background-color 0.3s;
}

.butao-add:hover {
    background-color: #d1dec7;
}

.line {
    background-color: #48793c;
    height: 1px;
    margin-top: 1rem;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.card {
    background-color: #f2efe7;
    border-bottom-width: 8px;
    border-right-width: 8px;
    border-left-width: 2px;
    border-top-width: 2px;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1.75rem 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-color: #3b3030;
}

.title-card {
    font-size: 30px;
}